@import url(https://unpkg.com/tailwindcss@3.2.4/src/css/preflight.css);

@import "./variables.css";
@import "./animations.css";

body {
  background-color: #fefefe;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

svg#zavolt-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.25);
}

path.logoText {
  /* stroke-width: 1rem; */
  stroke-dashoffset: 0;
  stroke-dasharray: var(--dasharray);
  opacity: 0;
}

path.logoText--red {
  fill: var(--color-primary);
}

path.logoText--black {
  fill: var(--color-dark);
}

path.logoText--red.animated {
  animation: textDraw--red 2s linear;
}

path.logoText--black.animated {
  animation: textDraw--black 2s linear;
}

.zv-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.25);
  fill-opacity: 0;
  /* transition: fill-opacity 2s linear; */
}

.zv-logo.animated {
  /* fill-opacity: 1; */
  animation: appear 1900ms linear forwards;
}

@keyframes appear {
  to {
    fill-opacity: 1;
  }
}
